/*
@font-face {
    font-family: 'ARSMaquette';
    src: url(../fonts/ars-maquette-regular.woff) format('woff'),
    url('../fonts/ars-maquette-regular.ttf')  format('truetype');
}
*/

/*---------------------*/
/*   GENERAL ELEMENTS  */
/*---------------------*/
html{
    scroll-behavior: smooth;
}

body { 
    font: 20px Helvetica, sans-serif; 
    text-align: center; 
    padding: 100px;
    color: #4de2c9;
    background-color: black;
}
h1 { 
    font-size: 50px; 
}
article { 
    display: block; 
    text-align: left; 
    width: 650px; 
    margin: 0 auto; 
}
a { 
    color: #4de2c9;
    font-style: italic;
    text-decoration: none;
}

img {
    width: 25rem;
}

div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
.launch-progress {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-bottom: 5rem;
}
.launch-progress .step {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    overflow: visible;
    position: relative;
    font-size: 1.2rem;
    color: #4de2c9;
    font-weight: bold;
}
.launch-progress .step:not(:last-child):before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 37px;
    background-color: #fff;
    height: 6px;
    width: 100%;
}
.launch-progress .step .node {
    display: inline-block;
    border: 6px solid #fff;
    background-color: #fff;
    border-radius: 18px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -18px;
}
.launch-progress .step.complete:before {
    background-color: #4de2c9;
}
.launch-progress .step.complete .node {
    border-color: #4de2c9;
    background-color: #4de2c9;
}
.launch-progress .step.in-progress:before {
    background: #4de2c9;
    background: -moz-linear-gradient(left, #4de2c9 0%, #fff 100%);
    background: -webkit-linear-gradient(left, #4de2c9 0%, #fff 100%);
    background: linear-gradient(to right, #4de2c9 0%, #fff 100%);
}
.launch-progress .step.in-progress .node {
    border-color: #4de2c9;
}

/*------------------------*/
/*     Mobile SUPPORT     */
/*------------------------*/

@media only screen and (max-width: 950px) {
    .launch-progress .step {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 900px) {
    body {
        padding: 25px 50px 0px 50px;
        font-size: 24px;
    }
    h1 { 
        font-size: 35px; 
    }
    article {
        width: 500px; 
    }
    img {
        padding-bottom: 5px;
        width: 20rem;
    }
}

@media only screen and (max-width: 780px) {
    body {
        padding: 25px 20px 0px 20px;
        font-size: 22px;
    }
    h1 { 
        font-size: 30px; 
    }
    article {
        width: 400px; 
    }
    .launch-progress .step {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 580px) {
    body {
        font-size: 18px;
    }
    article {
        width: 300px; 
    }
    .launch-progress .step {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 300px) {
    body {
        font-size: 14px;
    }
    article {
        width: 200px; 
    }
    h1 { 
        font-size: 24px; 
    }
    .launch-progress .step {
        font-size: 0.6rem;
    }
    img {
        width: 16rem;
    }
}