/*
@font-face {
    font-family: 'ARSMaquette';
    src: url(../fonts/ars-maquette-regular.woff) format('woff'),
    url('../fonts/ars-maquette-regular.ttf')  format('truetype');
}
*/

/*---------------------*/
/*   GENERAL ELEMENTS  */
/*---------------------*/
html{
    scroll-behavior: smooth;
}

body { 
    font: 20px Helvetica, sans-serif; 
    text-align: center; 
    padding: 250px;
    background-color: black; 
}
h1 { 
    font-size: 50px; 
}
article { 
    color: rgb(72, 255, 0);
    display: block; 
    text-align: left; 
    width: 650px; 
    margin: 0 auto; 
}
/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

/*------------------------*/
/*     Mobile SUPPORT     */
/*------------------------*/
@media only screen and (max-width: 900px) {

}