body {
    background-color: black;
    width: 50%;
    margin: auto;
}
img {
    padding-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: fadeIn 5s;
}
h1 {
	display: block;
	width: fit-content;
	position: relative;
	color: transparent;
	font-size: 2.5rem;
	animation: text_reveal 1s ease forwards;
	animation-delay: 1.3s;
}
p {
	width: fit-content;
	position: relative;
	color: transparent;
	font-size: 2rem;
    animation: text_reveal_name 1.5s ease forwards;
	animation-delay: 1.8s;

}
a {
    color: transparent;
    animation: text_reveal_name 1.5s ease forwards;
	animation-delay: 1.8s;
}
h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(20, 220, 80);
	animation: text_reveal_box 1s ease;
	animation-delay: 1s;
}

p span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(20, 220, 80);
	animation: text_reveal_box 1.5s ease;
	animation-delay: 1.5s;
}


@keyframes text_reveal {
	100% {
		color: rgb(255, 255, 255);
	}
}
@keyframes text_reveal_name {
	100% {
        color: rgb(255, 255, 255);
		font-weight: 500;
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@media only screen and (max-width: 768px) {
    body{
        width: 80%;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.75rem;
    }
}


@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }
}