@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
body {
	background-color: rgb(0, 0, 0);
}
.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
*/
p {
	color: white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
span {
	color: rgb(20, 220, 80);
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: white;
	margin-bottom: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.brand h2, .brand h3 {
	text-transform: uppercase;
}
.brand h2 {
	font-size: 3rem;
	color: white;
}
.brand h3 {
	text-align: right;
	font-size: 2rem;
	color: rgb(20, 220, 80);
	animation: blink 4s ease 0s infinite normal forwards;
}
.brand h4 {
	color: white;
	font-weight: bold;
	font-size: 5rem;
	margin-top: 10px;
}

/* Alert Section*/
.alert {
	position: absolute;
	top: 15rem;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: 2.5rem;
	background-color: rgb(20, 220, 80);
	color: white;
}
  
.closebtn {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 0.625rem;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.alert p{
	font-size: 1.75rem;
	font-weight: bold;
}
.closebtn:hover {
	color: black;
}
/*END Alerd Section*/

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 2rem;
	display: block;
	transition: 0.5s;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgb(20, 220, 80);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li a:hover {
	color: rgb(20, 220, 80);
	transition: 0.5s;
}
/* End Header section */


/* Footer */
#footer .footer {
	flex-direction: column;
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
#footer a {
	color: rgb(20, 220, 80);
}
#footer img {
	max-width: 20rem;
}
/* End Footer */

/* CCS SPECIFICLY FOR STATS HTML */
#personal-stats {
	margin-top: 5rem;
	text-align: center;
}
#personal-stats h2{
	margin-top: 2rem;
	color: #f6f4e6;
	font-size: 4rem;
	margin-bottom: 5rem;
}
#personal-stats img {
	max-width: 60rem;
	padding: 0 1.5rem 0 1.5rem;
}
.navMenu {
	text-align: center;
}
.navMenu ul li{
	color: #f6f4e6;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 3rem 1.5rem 3rem;
	display: inline-block;
	max-width: fit-content;
}
.navMenu a{
	color: #f6f4e6;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
	transition: 0.3s ease;
}

.navMenu a:hover {
	font-size: 2.40rem;
	color: rgb(20, 220, 80);
	transition: 0.3s ease;
}
#api-data{
	margin: 2.5rem auto 0 auto;
	width: 85%;
}

#card-data{
	padding: 0 3rem 3rem 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#card-data h2{
	flex: 0 0 100%;
	color: #f6f4e6;
	font-size: 2.5rem;
	padding-left: 8rem;
	margin-bottom: 2rem;
}

.card-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    background-color: rgb(20, 220, 80);
    margin: 1rem 1.5rem 2rem 1.5rem;
    border-radius: 1rem;
    color: black;
    padding: 2rem;
    position: relative;
    width: 45rem;
    max-width: 100%;
    text-align: center;
}
.card-container a {
	width: fit-content;
}
.card-container h3 {
	font-size: 2rem;
	color: black;
}
.card-container h3:hover {
	color: white;
	cursor: pointer;
}

.card-container h6 {
	font-size: 1.75rem;
	margin: 1.25rem 0 0.625rem 0;
	text-transform: uppercase;
}

.card-container p {
	font-size: 14px;
	line-height: 21px;
}
.round{
	margin: 2.5rem 0 2rem 0;
}
.image{
	display: flex;
	height: 100%;
	align-items: center;
}
.card-container .position {
	color: rgb(20, 220, 80);
	background-color: black;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.skills {
	width: 100%;
	background-color: rgb(20, 220, 80);
	text-align: left;
	padding: 0 2rem 2rem 2rem;
	border-radius: 1rem;
}
.skills h6 {
	margin-bottom: 2rem;
}
.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
.hide {
	display: none;
}

#information {
	margin: auto;
	width: 90%;
	border-radius: 1rem;
	color: black;
	font-weight: bold;
	padding: 2rem;
}
.green {
	background-color: rgb(20, 220, 80);
}
.red {
	background-color: rgb(223, 54, 49);
}
#information h2{
	font-size: 2.75rem;
	color: black;
	padding: 0rem;
}
#information h3{
	font-size: 2.5rem;
	margin-bottom: 5rem;
}
#information p{
	font-size: 2rem;
	color: black;
	margin-bottom: 1.5rem;
	font-weight: bold;
}
/* END CCS SPECIFICLY FOR STATS HTML */

/* Keyframes */
@keyframes blink{
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: rgb(255, 255, 255);
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(20, 220, 80);
		font-weight: 500;
	}
}
/* End Keyframes */
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.btnLogin {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h2.section-title {
		font-size: 6rem;
	}

	#header .nav-list ul a::after {
		font-size: 10rem;
	}

	#home h1 {
		font-size: 7rem;
	}

}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 2rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}
/* End  Media Query For Desktop */